body {
    text-align: center;
    color: black;
    background-color: #c2f9ea;
}
header {
	padding: 30px;
	margin: 30px;

}

h1 {
	font-family: comic sans ms;
}

#result {
	font-family: comic sans ms;
	color: black;
	font-weight: bold;
	font-size: 40px;
}

#conclusion {
	font-family: helvetica header;
	color: black;
	font-weight: bold;
	font-size: 40px;
}
.row {
	padding: 100px;

}