body {

}

nav {
  padding: 20px;
}
    
img{
  margin: 0px;
}




    /* Add a gray background color and some padding to the footer */
footer {
  background-color: black;
  padding: 15px;
  color: white;
  text-align: center;
}

#about {
  min-height: 400px;
}
#myCarousel {
  min-height: 300px;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
}
  