body {
    font-family: verdana;
    font-size: 19px;
    color: black;

}
h1 {
    text-align: center;
    width: 500px;
    border: 0px;
    padding: 5px;
    margin: auto;
    color: black;
  
}
li {
    border: 0px solid #DDD;
}
ol {
    border: 1px solid #333;
}

/*** #### NEW STYLES #### ***/
.container {
    border: 3px solid red;
    margin: 5px;
    overflow: auto;
}
.job {
    border: 3px solid green;
    margin: 10px;
    width: 45%;
    float: left;
}
.clearfix {
    clear: both;
    overflow: auto;
}


.title {
    font-weight: bold;
    text-decoration: ;
    text-align: center;
}
h3 {
    color: black;
    border: 5px solid pink;
    padding: 2px;
    margin: auto;
    text-align: center;
    width: 300px;
    box-shadow: 2px 2px 5px black;
}
.circle {
      border-radius: 50%;
      margin: auto;
      border: 2px;
      padding: 2px;
}
.about {
    text-align: center;

}
.extra {
    text-align: center;

}
.right {
    float: right;
}
.top {
    background: grey;
}
    
.test {
    border: 3px solid purple;
    margin: 10px;
    width: 45%;
    float: right;

}

/*
#background {
    background: url('../images/background.jpg') no-repeat;
    width: 500px;
    height: 500px;
    margin: auto;
}
#background img {
    border: 3px solid gray;
    margin: 0 auto;
    display: block;
     text-shadow: 1px 1px;
}
.vod {
    margin: 8px;
    border: 3px solid #DDD;
    border-radius: 8px;
    padding: 8px;
    min-height: 232px;
    overflow: auto;
    text-align: left;
}
*/

/*
#background {
    background: url('../images/background.jpg') no-repeat;
    width: 500px;
    height: 500px;
    margin: auto;
}
#background img {
    border: 3px solid gray;
    margin: 0 auto;
    display: block;
     text-shadow: 1px 1px;
}
*/